body {background: #333;}
.log-boolean,
.log-undefined {color: magenta;}
.log-object,
.log-string {color: greenyellow;}
.log-number {color: cyan;
}

#info {
    margin: 0.5em;
    margin-left: 1em;
    color: rgb(171, 254, 45);
    float: left;
    width: 100%;
}
#inputs{
    margin: 0.5em;
    margin-left: 1em;
    display: inline-block;
    max-height: 42;
}
.input{
    width: 40;
}
.button {
    width: 150;
}
.infoHolder{
    margin:0;
    padding: 0;
    height: 21;
    max-width: 500;
}
#winCount{
    color:greenyellow;
    margin:0;
    width: 300;
    overflow: hidden;
    float: left;
}
#gameConsole{
    /*overflow: hidden;*/
    height: 483;
    margin-top: 1em;
}
#canvasHolder{
    margin: 1em;
    margin-top: 0;
    float: left;
}
#loggerDiv{
    overflow: hidden;
    height: 451;
    float: left;
    margin-left: 1em;
    margin-bottom: 1em;
    
}
#logger{
    overflow: scroll;
    height: 470;
    max-height: 470;
    float: left;
    width: 300;
    color: greenyellow;
    word-wrap: break-word;
    margin-top: 0;
}
#playLoggerDiv{
    overflow: hidden;
    height: 451;
    float: left;
    margin-left: 1em;
    margin-bottom: 1em;  
}
#playLogger{
    overflow: scroll;
    height: 470;
    max-height: 470;
    float: left;
    width: 300;
    color: greenyellow;
    word-wrap: break-word;
    margin-top: 0;
}
#canvasFrame{
    float: left;
    width: 100%;
    color: greenyellow;
    margin: 1em;
    margin-top: 0;
}